body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.nav {
    background-color: #333;
    color: #4fa0fc;
    padding: 10px 0;
    height: 50px;
    width: 100%;
}

.heading {
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
}


.card1 {
    height: 300px;
    width: 350px;
    background-color: #66ffff;
    margin-left: 50px;
    margin-top: 80px;
    border: solid 4px#00e6e6;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 3px #424242;
    text-align: center;
    font-size: 10px;
    display: inline-block;

}

.card1:hover {
    height: 600px;
    transition: 3s;
    background-color: #00ffaa;
    border-radius: solid 4px#1aff66;
}

.info {
    text-align: left;
}

.info:hover {
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    margin: 30px;
    transition: 4s;
    background-color: #00ffaa;
}


img {
    height: 200px;
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    border-radius: 50px;
    align-items: center;
}

.card2 {
    height: 300px;
    width: 350px;
    background-color: #66ffff;
    margin-left: 50px;
    margin-top: 80px;
    border: solid 4px#00e6e6;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 3px #424242;
    text-align: center;
    font-size: 10px;
    display: inline-block;

}

.card2:hover:hover {
    height: 600px;
    transition: 3s;
    background-color: #00ffaa;
    border-radius: solid 4px#1aff66;
}

.card3 {
    height: 300px;
    width: 350px;
    background-color: #66ffff;
    margin-left: 50px;
    margin-top: 80px;
    border: solid 4px#00e6e6;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 3px #424242;
    text-align: center;
    font-size: 10px;
    display: inline-block;
}

.card3:hover {
    height: 600px;
    transition: 3s;
    background-color: #00ffaa;
    border-radius: solid 4px#1aff66;
}